body {
        background: gray;
        color: white;
        font-size: 30px;
        text-align: center;
      }
      canvas {
		background-size: cover;
		border: 3px solid black;
		background-color: gray;
      }
      #newGame, #intsBtn, #backBtn, #playAudio, #pauseAudio, #playAgain{
        text-align: center;
        vertical-align: middle;
        border: 3px solid black;
        border-radius: 7px;
        background-color: #5c5c3d;
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: "Times New Roman";
        width: 200px;
        margin: 5px auto;
       
      }
      #theHead{
        color: white;
        font-size: 30px;
        font-family: "Times New Roman";
      }
      #ints{
        color: white;
        font-size: 30px;
        font-family: "Times New Roman";
        display: none;
        background-color: gray;
      }
      #backBtn{
        display: none;
      }
	  #playAgain{
		display: none;
	  }